<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Issues</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <div th:replace="fragments/header :: header">...</div>
</head>
<body>
<div layout:fragment="content">

    <form th:action="@{/projects/new}" method="post" th:object="${project}" enctype="multipart/form-data">

        <div class="form-group">
            <label for="projectName">Name</label>
            <input required="required" class="form-control" th:field="${project.projectName}"/>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input required="required" class="form-control" th:field="${project.description}"/>
        </div>



        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
        </button>

    </form>
</div>
</body>
</html>