<div class="main">
  <div layout="row" flex class="welcome">
    <div flex="50">
      <h1>A New Take on a Classic Car</h1>
    </div>
    <div flex="50"></div>
  </div>
  <div class="intro">
    <div class="details" layout="row" flex>
      <div flex="100">
        <h2>Keeping the Classic Mini alive</h2>
        <p>
          Classic Mini DIY was created as a simple youtube channel to help other classic Mini owners work on their classic cars.  As time progressed we realized that we could provide the classic Mini community with the largest resource for litrature and how-to guides for working on their old cars.  Whether you need technical specifications for your car, or are looking for details on color codes Classic Mini DIY is your source.
        </p>
      </div>
    </div>
    <div layout="row" layout-xs="column" flex class="info">
    </div>
  </div>
  <div>

  </div>
</div>
