<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<script th:inline="javascript">
/*<![CDATA[*/

    var secondstoredirect = 3,
    redirectAfterSeconds = (secondstoredirect * 1000),
    urlToRedirect = /*[[${redirectTo}]]*/;
    var tt = setInterval(function () {
            window.location.href = urlToRedirect;
    }, redirectAfterSeconds);

/*]]>*/
</script>


<head>
    <meta charset="UTF-8">
    <title>Already Installed</title>
</head>
<body>

This Application is already installed
</body>
</html>