<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Issues</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <div th:replace="fragments/header :: header">...</div>
</head>
<body>
<h1>Projects</h1>
<ul th:each="project: ${projects}">
    <li th:text="${project.name}"></li>
    <li th:text="${project.description}"></li>
    <li th:text="${project.user.username}"></li>
</ul>

</body>
</html>