<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Issues</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <div th:replace="fragments/header :: header">...</div>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{newIssue}" th:object="${issue}" method="post">
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>description: <input type="text" th:field="*{text}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>